@model Soweb.Models.Portfolio

<section id="portfolio" class="module">
    <div class="container">
        @foreach (var group in Model.Groups)
        {
            <div class="row">
                <div id="works-grid" class="works-grid works-hover-w">
                    <div class="grid-sizer"></div>
                        @foreach (var img in group.Images)
                        {
                            <div class="work-item @img.Layout">
                                <a href="/Portfolio/Detail/@img.Id">
                                    <img src="/Assets/Images/@img.Name">
                                    <div class="work-caption font-alt">
                                        <h3 class="work-title">@img.Id</h3>
                                        @*<div class="work-descr">@img.Description</div>*@
                                    </div>
                                </a>
                            </div>
                        }
                </div>
            </div>
        }
    </div>
</section>