* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-grid {
    position: relative;
    width: 100%;
}

.portfolio-item,
.grid-sizer {
    width: 20%;
    float: left;
    padding: 10px;
}

.portfolio-item.xs {
    width: 10%;
}

.portfolio-item.sm {
    width: 20%;
}

.portfolio-item.md {
    width: 40%;
}

.portfolio-item.lg {
    width: 60%;
}

.portfolio-item.xl {
    width: 80%;
}

.portfolio-item.xxl {
    width: 100%;
}

.portfolio-item img {
    height: auto;
    width: 100%;
}

.portfolio-item.portfolio-group-separator {
    width: 100%;
    height: 20px;
}
