<section class="module">
    <div class="container cinta">
        <div class="row">
            <div class="col-sm-12">
                <a href="https://instagram.com/sarahotley" target="_blank">
                    <img src="/Assets/Images/insta_profile.jpg" class="img-circle" />
                    <h5 class="font-play font-huge font-uppercase">SARAHOTLEY</h5>
                </a>
                <div class="instagram-feed">
                </div>
            </div>
        </div>
    </div>
</section>
@section OptionalScripts
{
    <script type="text/javascript">
        $.getJSON('/Instagram/GetImages', function (data) {
            var json = $.parseJSON(data);
            $.each(json.data, function (index, value) {
                if (value.tags.length == 0 || value.location.name == undefined)
                    return;

                $('.instagram-feed').append(
                    '<a target="_blank" href="' + value.link + '">' +
                    '<h3 class="font-play font-medium font-uppercase">' + value.location.name + '</h3>' +
                    '<h4 class="font-serif">#' + value.tags.join(", #") + '</h4>' +
                    '</a>');
            });
        });
    </script>
}