<section class="module">
    <div class="container cinta">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="font-play font-uppercase font-huge">New Zealand + Sweden</h1>
                <h1 class="font-play font-uppercase font-huge">Architecture + Illustration</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="font-play font-medium font-uppercase">You can buy online now at</h3>
                <h1><a class="font-serif" target="_blank" href="http://sarahotley.tictail.com/">tictail</a></h1>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="font-play font-medium font-uppercase">To discuss commissions or collaboration,<br/>please email me at</h3>
                <h1><a class="font-serif" href="mailto:hi@sarahotley.com">hi@sarahotley.com</a></h1>
            </div>
        </div>

    </div>
</section>
