<section class="module">
    <div class="container cinta">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="font-play font-uppercase font-huge">New Zealand + Sweden</h1>
                <h1 class="font-play font-uppercase font-huge">Architecture + Illustration</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="font-serif no-bottom-margin">You can buy online now at</h4>
                <h3 class="no-top-margin"><a class="font-serif font-medium" target="_blank" href="http://sarahotley.tictail.com/">tictail</a></h3>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="font-serif no-bottom-margin">To discuss commissions or collaboration, please email me at</h4>
                <h3 class="no-top-margin"><a class="font-serif font-medium" href="mailto:hi@sarahotley.com">hi@sarahotley.com</a></h3>
            </div>
        </div>
    </div>
</section>
