@section Title { Hello! | }

<section class="module">
    <div class="container cinta">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="font-play font-uppercase font-huge no-bottom-margin  ">New Zealand + Sweden</h1>
                <h1 class="font-play font-uppercase font-huge no-top-margin">Interiors + Images</h1>
            </div>

            <div class="col-sm-8 font-dark col-sm-offset-2 about">

                <p class="font-serif">
                    Sarah was raised in Auckland, New Zealand and is currently living in Stockholm, Sweden.
                </p>

                <p class="font-serif">
                    She has had exhibitions in 2010 and 2013 showing her idiosyncratic Stockholm illustrations.
                </p>

                <p class="font-serif">
                    Most recently she has been turning her love of treasure hunting at urban second hand stores in to a collection of still life imagery.
                    These images celebrate the beauty of once-loved, now-abandoned everyday items.
                </p>

                <p class="font-serif">
                    Sarah graduated with honours from the Architecture School at the University of Auckland in 2007.
                    For the last 6 years, she has been an architect at quirky fashion label <a href="http://www.monki.com" class="font-bold" target="_blank">Monki</a>,
                    working with almost 100 exciting retail environments in 15 markets.
                    In her current roll as Concept Architect, she is responsible for store strategy and brand storytelling through layout,
                    furniture and installation design.
                </p>

                <p class="font-serif">
                    To get in touch, please email:<br/>
                    <a class="font-serif font-bold" href="mailto:hello@sarahotley.com">hello@sarahotley.com</a>
                </p>

                <p class="font-medium">
                    <a href="https://instagram.com/sarahotley" target="_blank">
                        <i class="ion-social-instagram"></i>
                    </a>
                    <a href="https://se.pinterest.com/sarah_otley/" target="_blank">
                        <i class="ion-social-pinterest"></i>
                    </a>
                    <a href="https://www.linkedin.com/pub/sarah-otley/2/894/218" target="_blank">
                        <i class="ion-social-linkedin"></i>
                    </a>
                    <a href="https://twitter.com/0ts" target="_blank">
                        <i class="ion-social-twitter"></i>
                    </a>
                </p>

            </div>
        </div>
    </div>
</section>
